/* Global styles */
:root {
  --light-bg: #ffffff; /* Light background */
  --dark-text: #242424; /* Dark text for better readability on light background */
  --accent-color: #535bf2; /* Slightly darker accent color for better contrast */
  --accent-hover: #646cff; /* Original accent color for hover state */
  --button-bg: #f9f9f9; /* Light background for buttons */
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--dark-text); /* Use dark text color for body */
  background-color: var(--light-bg); /* Use light background color */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles for links */
a {
  font-weight: 500;
  color: var(--accent-hover); /* Use the original hover color as main color */
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color); /* Use the original accent color for hover state */
}

/* Styles for headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--dark-text); /* Ensure headings use dark text */
}

/* Styles for buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg); /* Light background for buttons */
  color: var(--dark-text); /* Dark text for buttons */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent-hover); /* Use the hover color for border */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Styles for the grid container */
.ag-theme-material {
  overflow: auto;
  flex-grow: 1; 
  width: 100%;
  height: 100%;
  --ag-background-color: var(--light-bg); /* Light background for the grid */
  --ag-text-color: var(--dark-text); /* Dark text for the grid */
}
.MuiBox-root {
  padding: 0; /* Adjust padding as necessary */
}

/* Full page container */
.full-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* Media query for dark theme - optional if you want to support system-based theme switching */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }

  button {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
  }

  a:hover {
    color: #646cff;
  }
}
